{
    "semi": true,
    "singleQuote": true,
    "useTabs": false,
    "printWidth": 80,
    "tabWidth": 4,
    "trailingComma": "es5",
    "overrides": [
        {
            "files": "./**/*.{yml,yaml}",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "./**/*.json",
            "options": {
                "tabWidth": 2,
                "useTabs": false
            }
        },
        {
            "files": "./**/*.{ts,js}",
            "options": {
                "tabWidth": 4
            }
        }
    ]
}
